<ion-view title="Cart Tab Default Page" id="page3" ng-controller="lightListCtrl">
    <ion-content padding="true" class="has-header">
        <ion-list id="cartTabDefaultPage-list1">
            <ion-item class="item-thumbnail-left"  ng-click="goToColorPicker()"id="cartTabDefaultPage-list-item5">
                <h2>Living Room</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="cartTabDefaultPage-list-item4">
                <h2>Behind The TV</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
